body {
    margin: 0;
}


.container {
    max-width: 1540px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 50px
}

.krill {
    display: none;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0;
    }
}